h2 {
    text-shadow: 0 1px 0 #ccc,
    0 2px 0 #c9c9c9,
    0 3px 0 #bbb,
    0 4px 0 #b9b9b9,
    0 5px 0 #aaa,
    0 6px 1px rgba(0, 0, 0, .1),
    0 0 5px rgba(0, 0, 0, .1),
    0 1px 3px rgba(0, 0, 0, .3),
    0 3px 5px rgba(0, 0, 0, .2),
    0 5px 10px rgba(0, 0, 0, .25),
    0 10px 10px rgba(0, 0, 0, .2),
    0 20px 20px rgba(0, 0, 0, .15);
}

.mainTable {
    border-collapse: collapse;
    width: 100%;
    border: 1px solid dimgray;
}

.smallTable{
    border-collapse: collapse;
    width: 70%;
    border: 1px solid dimgray;
    margin: auto;
}

.addTable {
    margin: auto;
    text-align: center;
}

th {
    background-color: #999966;
}

th, td {
    text-align: center;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

select {
    width: 250px;
}

input[type=number]{
    width: 247px;
}

input[type=datetime-local]{
    width: 247px;
}

.addButton {
    font-weight: 500;
    color: white;
    text-decoration: none;
    padding: .8em 1em calc(.8em + 3px);
    border-radius: 3px;
    background: rgb(64, 199, 129);
    box-shadow: 0 -3px rgb(53, 167, 110) inset;
    transition: 0.2s;
}

.deleteButton {
    font-weight: 500;
    margin-left: 5px;
    color: white;
    text-decoration: none;
    padding: .2em 1em calc(.2em + 3px);
    border-radius: 3px;
    background: rgb(252, 55, 3);
    box-shadow: 0 -3px #ff3333 inset;
    transition: 0.2s;
    float: left;
    position: relative;
}

.editButton {
    font-weight: 500;
    color: white;
    text-decoration: none;
    padding: .2em 1em calc(.2em + 3px);
    border-radius: 3px;
    background: #ffcc00;
    box-shadow: 0 -3px #e6b800 inset;
    transition: 0.2s;
    float: right;
    position: relative;
}

.nextButton {
    margin-left: 5px;
    font-weight: 500;
    color: white;
    text-decoration: none;
    padding: .8em 1em calc(.8em + 3px);
    border-radius: 3px;
    background: #0099e6;
    box-shadow: 0 -3px #1a75ff inset;
    transition: 0.2s;
}

.addButton:hover {
    background: rgb(53, 167, 110);
}

.nextButton:hover {
    background: rgb(52, 116, 235);
}

.editButton:hover {
    background: rgb(252, 190, 3);
}

.deleteButton:hover {
    background: rgb(252, 20, 3);
}

.addButton:active {
    background: rgb(33, 147, 90);
    box-shadow: 0 3px rgb(33, 147, 90) inset;
}
